/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit-based browsers (Chrome, Safari, Edge, Brave) */
body::-webkit-scrollbar {
    width: 12px; /* Change this to adjust scrollbar width */
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust color */
    border-radius: 6px; /* Rounded corners for the thumb */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track background */
}
